<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Topic
          </th>
          <th>
            <p *ngIf="researches.length > 0">Date</p>
          </th>
          <th>
            Edit
          </th>
          <th>
            Research
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="topic" [(ngModel)]="researchtoinsert.topic.keywords">
          </td>
          <th>
            
          </th>
          <td>
            <button (click)="insert(researchtoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let research of researches">
          <td>
            <input [(ngModel)]="research.topic.keywords">
          </td>
          <td>
            <input type="date" [(ngModel)]="research.date">
          </td>
          <td>
            <button (click)=update(research)>Save</button>
          </td>
          <td>
            <button (click)="delete(research)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>