<div class="row">
    <div class="col-md-12">
        <div class="sidenav">
            <button class="menubtn">
                <a [routerLink]="['/admin-dashboard']"> <i class="fas fa-home" style="margin-right: 10px"> </i>
                    Dashboard </a>
            </button>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#account"
                (click)="accountcollapse()">
                <i class="fas fa-user" style="margin-right: 15px"></i> Account
            </button>
            <div class="collapsebtn" id="account" *ngIf="isAccountCollapsed">
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"> <i class="fas fa-user-edit"
                            style="margin-right: 15px"></i>
                        Edit Profile</a>
                </button>
                <button class="menubtn" style="background-color: #334247; padding-left: 40px">
                    <a [routerLink]="['/admin-dashboard/work-in-progress']"><i class="fas fa-file-alt"
                            style="margin-right: 15px"></i>General Info</a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#users"
                (click)="userscollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Users
            </button>
            <div class="collapsebtn" id="users" *ngIf="isUserCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/users']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Users </a>
                </button>
            </div>

            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#researches"
                (click)="researchescollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Researches
            </button>
            <div class="collapsebtn" id="researches" *ngIf="isResearchCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/researches']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Researches </a>
                </button>
            </div>

            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#topics"
                (click)="topicscollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Topics
            </button>
            <div class="collapsebtn" id="topics" *ngIf="isTopicCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/topics']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage topics </a>
                </button>
            </div>

            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#bookmark"
                (click)="bookmarkscollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Bookmarks
            </button>
            <div class="collapsebtn" id="bookmark" *ngIf="isBookmarkCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/bookmark']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Bookmarks </a>
                </button>
            </div>

            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#files"
                (click)="filescollapse()">
                <i class="fas fa-users" style="margin-right: 15px"></i>Files
            </button>
            <div class="collapsebtn" id="files" *ngIf="isFileCollapsed">
                <button class="menubtn" style="padding-left: 40px; background-color: #334247;">
                    <a [routerLink]="['/admin-dashboard/files']"> <i class="fas fa-edit" style="margin-right: 10px">
                        </i> Manage Files </a>
                </button>
            </div>

            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt" style="margin-right: 15px"></i>Logout
            </button>
        </div>
    </div>
</div>